node_modules
vendor
.git
.env
npm-debug.log
yarn-error.log
public/hot
public/storage
storage/debugbar
storage/*.key
storage/*.log
storage/framework/cache/data
storage/framework/sessions
storage/framework/testing
storage/framework/views
/.idea
.vscode
dist
build